* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}
.heroContainer {
  width: 100%;
  background-color: #23424a;
  color: #fff;
  padding: 5em 0em;
}
.heroBody {
  width: 80%;
  margin: 0 auto;
}
.heroItems {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
}
.heroItems p {
  font-size: 1.3rem;
  line-height: 40px;
}
.heroItems h1 {
  color: #38cfd9;
}
button {
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #38cfd9;
  padding: 1em 2em;
  margin: 1.3em 0em;
  border: 1px solid #38cfd9;
  font-size: 1.2rem;
}
button:hover {
  background-color: #033e42;
}
img {
  width: 100%;
}

.imageBody {
  width: 100%;
  text-align: center;
  background-color: #04313d;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3em;
  grid-gap: 40px;
}
.imageContainer {
  background-color: #033e42;
  padding: 2em;
}
.imageContainer p {
  color: #fff;
  line-height: 30px;
}
h1 {
  color: #38cfd9;
}

.fastestWay {
  padding: 2em 3em;
  font-size: 1.8rem;
  text-align: center;
}
.fastestWay p {
  line-height: 40px;
  font-size: 1.4rem;
}
.sendRechargeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
}

.sendRechargeContainer p {
  font-size: 1.2rem;
  line-height: 30px;
}
.sendRechargeContainer h1 {
  font-size: 2.6rem;
  line-height: 50px;
}

.sendRecharge img {
  width: 100%;
}
.sendRecharge {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .heroItems {
    width: 100%;
  }
  .imageBody {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .fastestWay {
    padding: 2em 0em;
  }
  .fastestWay p {
    padding: 0 0;
    line-height: 45px;
    font-size: 1.5rem;
  }
  .sendRechargeContainer {
    grid-template-columns: 1fr;
  }
  .sendRechargeText {
    text-align: center;
  }
}

@media only screen and (max-width: 700px) {
  .heroItems {
    width: 100%;
  }
  .heroBody {
    width: 100%;
    margin: 0 0;
    padding: 0em 1em;
  }
  img {
    width: 80%;
  }
  .imageBody {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .fastestWay {
    padding: 2em 0em;
  }
  .fastestWay p {
    padding: 0 0;
  }
  .sendRechargeText {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .heroItems {
    width: 100%;
    font-size: 1.2rem;
  }
  .heroItems p {
    font-size: 1rem;
  }
  .heroContainer {
    padding: 3em 0em;
  }
  img {
    width: 100%;
  }
  .imageBody {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .fastestWay {
    padding: 3em 0;
    font-size: 1.2rem;
  }

  .fastestWay p {
    font-size: 0.9em;
  }
  .heroBody {
    width: 100%;
  }
  .sendRechargeContainer {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .sendRechargeText {
    text-align: center;
  }
  .sendRechargeContainer p {
    font-size: 1.1rem;
  }
}

/* .parent {
  background-color: gray;
  padding: 60px;
  width: 80%;
  margin: 0 auto;
}
.child {
  background-color: green;
  width: 50%;
  height: 250px;
} */
/* .container {
  background-color: grey;
  color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 5em;
} */
/* .container { */
/* background-color: grey;
  color: #fff; */
/* width: 80%;
  max-width: 750px;
  margin: 0 auto; */
/* padding: 50px; */
/* padding: 2em; */
/* height: 300px; */
/* } */
/* .intro-content { */
/* background-color: aqua; */
/* width: 50%;
}
.intro {
  background-color: #23424a;
  color: #fff;
  padding: 50px 0;
} */
/* .containers { */
/* background-color: #23424a;
  width: 100%;
  color: #fff;
  padding: 90px 0;
}
.containersPara {
  background-color: #23424a;
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
  line-height: 30px;
}
.containersPara h1 {
  line-height: 50px;
}
button {
  border-radius: 15px;
  border: 1px solid;
  font-size: 1.5rem;
  padding: 0.5em 2em;
  margin-bottom: 4em;
}
.grid-container {
  background-color: #000;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  font-size: 1.5rem;
  padding: 4em 4em 4em 4em;
}
.grid p {
  line-height: 2.5rem;
}
@media only screen and (max-width: 400px) {
  .containersPara {
    width: 80%;
    font-size: 1.5rem;
    line-height: 25px;
  }
  .containersPara h1 {
    line-height: 40px;
  }
}
@media only screen and (max-width: 700px) {
  .containersPara {
    width: 80%;
    font-size: 1.5rem;
    line-height: 25px;
  }
  .containersPara h1 {
    line-height: 40px;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
} */
